<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="StoreId" value="23" />
	<add key="Store" value="#052" />
	<!--"testDB", "publicDev", or "liveTacomayo"-->
	<add key="pointedTo" value="liveTacomayo" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
	<!-- Disable entire program with "true"-->
	<add key="disableProgram" value="false"/>
	<!-- "true" skips update, anything else forces update -->
	<add key="disableLivePush" value="false" />
	<!--Should only be true while debugging, set to false before you leave-->
	<add key="consoleReadKey()" value="false" />
	<!--MUST BE "false", or "YYYY-MM-DD"-->
	<add key="dateOverride" value="false" />
	<!--Disable Mobile API-->
	<add key="disableMobileAPI" value="false" />
	<!--Disable auto update-->
	<add key="disableAutoUpdate" value="false"/>
	<!--Connection test only-->
	<add key="testConnections" value="false"/>

	<add key="methodpaynums" value="1002, 1003, 1004, 2001"/>
</appSettings>
